In [125]:
import pandas as pd 
import numpy as np

In [126]:
df_present = pd.read_csv("pre_model_format_math.csv")
df_present

,Local ID,Grade_4_Present_Maths_ Percent_Score,Grade_4_last_year_Maths_Percent_Score,Grade_4_Practice2018_Maths_Percent_Score,Grade_4_Practice2019_Maths_Percent_Score_x,Meal Status,Temp Lunch Status,Special Ed Indicator_No,Special Ed Indicator_Yes,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,LEP_Second Year of Monitoring,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Continously_Enrolled_grade4_Null,Continously_Enrolled_grade4_Yes
0,931151,0.47,0.440,0.35,0.80,01 - Free,Null,1,0,0,1,0,0,0,0,1,1,0
1,966007,0.68,0.530,0.29,0.92,NaN,Null,1,0,0,1,0,0,0,0,1,1,0
2,324370,0.65,0.695,0.59,0.80,NaN,Null,1,0,0,0,1,0,0,1,0,1,0
3,952823,0.85,0.660,0.41,0.96,01 - Free,Null,1,0,0,0,0,1,0,0,1,0,1
4,931762,0.47,0.440,0.26,0.60,01 - Free,Null,1,0,0,1,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,924046,0.47,0.440,0.47,0.56,01 - Free,Null,1,0,0,1,0,0,0,0,1,0,1
109,948348,0.88,0.840,0.74,0.92,01 - Free,Null,1,0,0,0,1,0,0,0,1,0,1
110,950771,0.68,0.690,0.41,0.80,01 - Free,Y - Yes,1,0,0,0,1,0,0,1,0,0,1
111,948810,0.50,0.380,0.47,0.48,01 - Free,Null,1,0,0,0,1,0,0,1,0,0,1
112,324645,0.76,0.470,0.47,0.76,01 - Free,Null,1,0,0,1,0,0,0,0,1,1,0

In [127]:
#hot code meal status and temp lunch

#first convert missing values for meal status to null
values = {'Meal Status': "Null"}
df_present = df_present.fillna(value=values)

#then hotcode
df_new = pd.get_dummies(data=df_present,columns=["Meal Status"])
df_new


#hotcode temp lunch
df_new1 = pd.get_dummies(data=df_new,columns=["Temp Lunch Status"])
df_new1

#df_new2 = df_new1.astype(int)
#df_new2

,Local ID,Grade_4_Present_Maths_ Percent_Score,Grade_4_last_year_Maths_Percent_Score,Grade_4_Practice2018_Maths_Percent_Score,Grade_4_Practice2019_Maths_Percent_Score_x,Special Ed Indicator_No,Special Ed Indicator_Yes,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,...,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Continously_Enrolled_grade4_Null,Continously_Enrolled_grade4_Yes,Meal Status_01 - Free,Meal Status_02 - Reduced,Meal Status_Null,Temp Lunch Status_Null,Temp Lunch Status_Y - Yes
0,931151,0.47,0.440,0.35,0.80,1,0,0,1,0,...,0,0,1,1,0,1,0,0,1,0
1,966007,0.68,0.530,0.29,0.92,1,0,0,1,0,...,0,0,1,1,0,0,0,1,1,0
2,324370,0.65,0.695,0.59,0.80,1,0,0,0,1,...,0,1,0,1,0,0,0,1,1,0
3,952823,0.85,0.660,0.41,0.96,1,0,0,0,0,...,0,0,1,0,1,1,0,0,1,0
4,931762,0.47,0.440,0.26,0.60,1,0,0,1,0,...,0,0,1,0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,924046,0.47,0.440,0.47,0.56,1,0,0,1,0,...,0,0,1,0,1,1,0,0,1,0
109,948348,0.88,0.840,0.74,0.92,1,0,0,0,1,...,0,0,1,0,1,1,0,0,1,0
110,950771,0.68,0.690,0.41,0.80,1,0,0,0,1,...,0,1,0,0,1,1,0,0,0,1
111,948810,0.50,0.380,0.47,0.48,1,0,0,0,1,...,0,1,0,0,1,1,0,0,1,0
112,324645,0.76,0.470,0.47,0.76,1,0,0,1,0,...,0,0,1,1,0,1,0,0,1,0

In [128]:
#fill in missing scores with average of the last scores
#dropped ID 309795 since it was missing all reading scores
#I did this manually in excel. Needs to be automated

In [129]:
#move first column to the end
cols = list(df_new1.columns.values) #Make a list of all of the columns in the df
cols.pop(cols.index('Grade_4_Present_Maths_ Percent_Score')) #Remove b from list
df_new2 = df_new1[cols+['Grade_4_Present_Maths_ Percent_Score']] #Create new dataframe with columns in the order you want
len(df_new2.columns)
df_new2

,Local ID,Grade_4_last_year_Maths_Percent_Score,Grade_4_Practice2018_Maths_Percent_Score,Grade_4_Practice2019_Maths_Percent_Score_x,Special Ed Indicator_No,Special Ed Indicator_Yes,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,LEP_Second Year of Monitoring,...,Ethnicity_Black/African American,Ethnicity_Hispanic,Continously_Enrolled_grade4_Null,Continously_Enrolled_grade4_Yes,Meal Status_01 - Free,Meal Status_02 - Reduced,Meal Status_Null,Temp Lunch Status_Null,Temp Lunch Status_Y - Yes,Grade_4_Present_Maths_ Percent_Score
0,931151,0.440,0.35,0.80,1,0,0,1,0,0,...,0,1,1,0,1,0,0,1,0,0.47
1,966007,0.530,0.29,0.92,1,0,0,1,0,0,...,0,1,1,0,0,0,1,1,0,0.68
2,324370,0.695,0.59,0.80,1,0,0,0,1,0,...,1,0,1,0,0,0,1,1,0,0.65
3,952823,0.660,0.41,0.96,1,0,0,0,0,1,...,0,1,0,1,1,0,0,1,0,0.85
4,931762,0.440,0.26,0.60,1,0,0,1,0,0,...,0,1,0,1,1,0,0,1,0,0.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,924046,0.440,0.47,0.56,1,0,0,1,0,0,...,0,1,0,1,1,0,0,1,0,0.47
109,948348,0.840,0.74,0.92,1,0,0,0,1,0,...,0,1,0,1,1,0,0,1,0,0.88
110,950771,0.690,0.41,0.80,1,0,0,0,1,0,...,1,0,0,1,1,0,0,0,1,0.68
111,948810,0.380,0.47,0.48,1,0,0,0,1,0,...,1,0,0,1,1,0,0,1,0,0.50
112,324645,0.470,0.47,0.76,1,0,0,1,0,0,...,0,1,1,0,1,0,0,1,0,0.76

In [130]:
X = df_new2.iloc[:, 1:20]
y = df_new2['Grade_4_Present_Maths_ Percent_Score']

In [131]:
X

,Grade_4_last_year_Maths_Percent_Score,Grade_4_Practice2018_Maths_Percent_Score,Grade_4_Practice2019_Maths_Percent_Score_x,Special Ed Indicator_No,Special Ed Indicator_Yes,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,LEP_Second Year of Monitoring,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Continously_Enrolled_grade4_Null,Continously_Enrolled_grade4_Yes,Meal Status_01 - Free,Meal Status_02 - Reduced,Meal Status_Null,Temp Lunch Status_Null,Temp Lunch Status_Y - Yes
0,0.440,0.35,0.80,1,0,0,1,0,0,0,0,1,1,0,1,0,0,1,0
1,0.530,0.29,0.92,1,0,0,1,0,0,0,0,1,1,0,0,0,1,1,0
2,0.695,0.59,0.80,1,0,0,0,1,0,0,1,0,1,0,0,0,1,1,0
3,0.660,0.41,0.96,1,0,0,0,0,1,0,0,1,0,1,1,0,0,1,0
4,0.440,0.26,0.60,1,0,0,1,0,0,0,0,1,0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,0.440,0.47,0.56,1,0,0,1,0,0,0,0,1,0,1,1,0,0,1,0
109,0.840,0.74,0.92,1,0,0,0,1,0,0,0,1,0,1,1,0,0,1,0
110,0.690,0.41,0.80,1,0,0,0,1,0,0,1,0,0,1,1,0,0,0,1
111,0.380,0.47,0.48,1,0,0,0,1,0,0,1,0,0,1,1,0,0,1,0
112,0.470,0.47,0.76,1,0,0,1,0,0,0,0,1,1,0,1,0,0,1,0

In [132]:
y

0      0.47
1      0.68
2      0.65
3      0.85
4      0.47
       ...
108    0.47
109    0.88
110    0.68
111    0.50
112    0.76
Name: Grade_4_Present_Maths_ Percent_Score, Length: 113, dtype: float64

In [133]:
from sklearn.model_selection import train_test_split

In [134]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 10)

In [135]:
X_train

,Grade_4_last_year_Maths_Percent_Score,Grade_4_Practice2018_Maths_Percent_Score,Grade_4_Practice2019_Maths_Percent_Score_x,Special Ed Indicator_No,Special Ed Indicator_Yes,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,LEP_Second Year of Monitoring,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Continously_Enrolled_grade4_Null,Continously_Enrolled_grade4_Yes,Meal Status_01 - Free,Meal Status_02 - Reduced,Meal Status_Null,Temp Lunch Status_Null,Temp Lunch Status_Y - Yes
26,0.500,0.69,0.88,1,0,0,1,0,0,0,0,1,1,0,1,0,0,1,0
105,0.940,0.59,0.92,1,0,0,0,1,0,0,0,1,0,1,1,0,0,1,0
60,0.305,0.21,0.40,0,1,0,0,1,0,0,0,1,0,1,1,0,0,1,0
99,0.620,0.56,0.68,1,0,0,0,0,1,0,0,1,0,1,1,0,0,1,0
3,0.660,0.41,0.96,1,0,0,0,0,1,0,0,1,0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,0.750,0.32,0.68,1,0,1,0,0,0,0,0,1,1,0,1,0,0,1,0
64,0.340,0.29,0.56,1,0,0,1,0,0,0,0,1,0,1,1,0,0,1,0
15,0.910,0.74,0.96,1,0,0,0,0,1,0,0,1,0,1,1,0,0,1,0
100,0.250,0.21,0.20,0,1,0,0,1,0,0,1,0,0,1,1,0,0,1,0
9,0.635,0.35,0.92,1,0,0,1,0,0,0,0,1,1,0,1,0,0,1,0

In [136]:
X_test

,Grade_4_last_year_Maths_Percent_Score,Grade_4_Practice2018_Maths_Percent_Score,Grade_4_Practice2019_Maths_Percent_Score_x,Special Ed Indicator_No,Special Ed Indicator_Yes,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,LEP_Second Year of Monitoring,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Continously_Enrolled_grade4_Null,Continously_Enrolled_grade4_Yes,Meal Status_01 - Free,Meal Status_02 - Reduced,Meal Status_Null,Temp Lunch Status_Null,Temp Lunch Status_Y - Yes
104,0.940,0.91,1.000,1,0,1,0,0,0,1,0,0,0,1,0,1,0,1,0
79,0.500,0.24,0.760,1,0,0,1,0,0,0,0,1,1,0,1,0,0,1,0
76,0.970,0.85,1.000,1,0,0,0,0,1,1,0,0,1,0,0,0,1,1,0
48,0.310,0.32,0.920,1,0,0,1,0,0,0,0,1,0,1,1,0,0,1,0
107,0.600,0.60,0.600,1,0,0,1,0,0,0,0,1,1,0,0,0,1,1,0
53,0.315,0.35,0.280,1,0,0,0,1,0,0,1,0,1,0,1,0,0,1,0
38,0.440,0.29,0.840,1,0,0,0,1,0,0,0,1,0,1,1,0,0,0,1
42,0.380,0.59,0.485,1,0,0,0,1,0,0,0,1,0,1,0,0,1,1,0
2,0.695,0.59,0.800,1,0,0,0,1,0,0,1,0,1,0,0,0,1,1,0
39,0.820,0.68,0.960,1,0,0,0,0,1,0,0,1,0,1,1,0,0,1,0
45,0.840,0.47,1.000,1,0,0,0,0,1,0,0,1,0,1,1,0,0,1,0
96,0.410,0.32,0.760,1,0,0,1,0,0,0,0,1,0,1,1,0,0,0,1
91,0.410,0.35,0.400,1,0,0,1,0,0,0,0,1,1,0,1,0,0,1,0
82,0.780,0.62,0.960,1,0,0,0,0,1,0,0,1,0,1,1,0,0,0,1
1,0.530,0.29,0.920,1,0,0,1,0,0,0,0,1,1,0,0,0,1,1,0
10,0.660,0.53,0.840,1,0,0,0,0,1,0,0,1,0,1,1,0,0,0,1
37,0.940,0.79,1.000,1,0,0,0,1,0,1,0,0,0,1,0,0,1,1,0
47,0.630,0.38,0.960,1,0,0,0,1,0,0,0,1,1,0,1,0,0,1,0
66,0.750,0.59,0.840,1,0,0,0,1,0,0,0,1,0,1,0,0,1,1,0
41,0.870,0.74,1.000,1,0,0,0,0,1,0,0,1,0,1,1,0,0,0,1
35,0.940,0.82,0.880,1,0,0,0,0,1,0,0,1,0,1,1,0,0,1,0
19,0.660,0.50,0.760,1,0,0,0,1,0,0,0,1,0,1,1,0,0,1,0
14,0.250,0.18,0.320,0,1,0,0,1,0,0,1,0,0,1,1,0,0,0,1

In [137]:
y_test

104    0.97
79     0.38
76     0.97
48     0.59
107    0.38
53     0.38
38     0.53
42     0.71
2      0.65
39     0.91
45     0.88
96     0.41
91     0.35
82     0.88
1      0.68
10     0.82
37     0.94
47     0.65
66     0.76
41     0.79
35     0.94
19     0.68
14     0.26
Name: Grade_4_Present_Maths_ Percent_Score, dtype: float64

In [138]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()

In [139]:
clf.fit(X_train,y_train)

LinearRegression()

In [140]:
y_pred = clf.predict(X_test)

In [141]:
clf.score(X_test, y_test)

0.8361570605161228

In [142]:
df1 = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
#df1=df1['Actual']*100
#df1
df1['Actual']=df1['Actual']*100
df1['Predicted']=df1['Predicted']*100
df1

     Actual   Predicted
104    97.0  105.775150
79     38.0   47.410864
76     97.0   89.252210
48     59.0   60.935376
107    38.0   46.903589
53     38.0   35.313447
38     53.0   67.272660
42     71.0   54.464512
2      65.0   62.296405
39     91.0   87.505567
45     88.0   80.653893
96     41.0   54.491537
91     35.0   35.305681
82     88.0   84.423975
1      68.0   47.482124
10     82.0   74.307858
37     94.0   96.124478
47     65.0   73.486009
66     76.0   73.370170
41     79.0   91.996469
35     94.0   90.862498
19     68.0   74.647483
14     26.0   22.535905

In [143]:
df3 = pd.concat([df1,X_test], axis=1)

In [144]:
df3['Grade_4_last_year_Maths_Percent_Score']=df3['Grade_4_last_year_Maths_Percent_Score']*100
df3['Grade_4_Practice2018_Maths_Percent_Score']=df3['Grade_4_Practice2018_Maths_Percent_Score']*100
df3['Grade_4_Practice2019_Maths_Percent_Score_x']=df3['Grade_4_Practice2019_Maths_Percent_Score_x']*100
df3

,Actual,Predicted,Grade_4_last_year_Maths_Percent_Score,Grade_4_Practice2018_Maths_Percent_Score,Grade_4_Practice2019_Maths_Percent_Score_x,Special Ed Indicator_No,Special Ed Indicator_Yes,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,...,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Continously_Enrolled_grade4_Null,Continously_Enrolled_grade4_Yes,Meal Status_01 - Free,Meal Status_02 - Reduced,Meal Status_Null,Temp Lunch Status_Null,Temp Lunch Status_Y - Yes
104,97.0,105.775150,94.0,91.0,100.0,1,0,1,0,0,...,1,0,0,0,1,0,1,0,1,0
79,38.0,47.410864,50.0,24.0,76.0,1,0,0,1,0,...,0,0,1,1,0,1,0,0,1,0
76,97.0,89.252210,97.0,85.0,100.0,1,0,0,0,0,...,1,0,0,1,0,0,0,1,1,0
48,59.0,60.935376,31.0,32.0,92.0,1,0,0,1,0,...,0,0,1,0,1,1,0,0,1,0
107,38.0,46.903589,60.0,60.0,60.0,1,0,0,1,0,...,0,0,1,1,0,0,0,1,1,0
53,38.0,35.313447,31.5,35.0,28.0,1,0,0,0,1,...,0,1,0,1,0,1,0,0,1,0
38,53.0,67.272660,44.0,29.0,84.0,1,0,0,0,1,...,0,0,1,0,1,1,0,0,0,1
42,71.0,54.464512,38.0,59.0,48.5,1,0,0,0,1,...,0,0,1,0,1,0,0,1,1,0
2,65.0,62.296405,69.5,59.0,80.0,1,0,0,0,1,...,0,1,0,1,0,0,0,1,1,0
39,91.0,87.505567,82.0,68.0,96.0,1,0,0,0,0,...,0,0,1,0,1,1,0,0,1,0
45,88.0,80.653893,84.0,47.0,100.0,1,0,0,0,0,...,0,0,1,0,1,1,0,0,1,0
96,41.0,54.491537,41.0,32.0,76.0,1,0,0,1,0,...,0,0,1,0,1,1,0,0,0,1
91,35.0,35.305681,41.0,35.0,40.0,1,0,0,1,0,...,0,0,1,1,0,1,0,0,1,0
82,88.0,84.423975,78.0,62.0,96.0,1,0,0,0,0,...,0,0,1,0,1,1,0,0,0,1
1,68.0,47.482124,53.0,29.0,92.0,1,0,0,1,0,...,0,0,1,1,0,0,0,1,1,0
10,82.0,74.307858,66.0,53.0,84.0,1,0,0,0,0,...,0,0,1,0,1,1,0,0,0,1
37,94.0,96.124478,94.0,79.0,100.0,1,0,0,0,1,...,1,0,0,0,1,0,0,1,1,0
47,65.0,73.486009,63.0,38.0,96.0,1,0,0,0,1,...,0,0,1,1,0,1,0,0,1,0
66,76.0,73.370170,75.0,59.0,84.0,1,0,0,0,1,...,0,0,1,0,1,0,0,1,1,0
41,79.0,91.996469,87.0,74.0,100.0,1,0,0,0,0,...,0,0,1,0,1,1,0,0,0,1
35,94.0,90.862498,94.0,82.0,88.0,1,0,0,0,0,...,0,0,1,0,1,1,0,0,1,0
19,68.0,74.647483,66.0,50.0,76.0,1,0,0,0,1,...,0,0,1,0,1,1,0,0,1,0
14,26.0,22.535905,25.0,18.0,32.0,0,1,0,0,1,...,0,1,0,0,1,1,0,0,0,1

In [145]:

df3['abs_diff'] = abs(df3['Actual'] - df3['Predicted'])
df3

,Actual,Predicted,Grade_4_last_year_Maths_Percent_Score,Grade_4_Practice2018_Maths_Percent_Score,Grade_4_Practice2019_Maths_Percent_Score_x,Special Ed Indicator_No,Special Ed Indicator_Yes,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,...,Ethnicity_Black/African American,Ethnicity_Hispanic,Continously_Enrolled_grade4_Null,Continously_Enrolled_grade4_Yes,Meal Status_01 - Free,Meal Status_02 - Reduced,Meal Status_Null,Temp Lunch Status_Null,Temp Lunch Status_Y - Yes,abs_diff
104,97.0,105.775150,94.0,91.0,100.0,1,0,1,0,0,...,0,0,0,1,0,1,0,1,0,8.775150
79,38.0,47.410864,50.0,24.0,76.0,1,0,0,1,0,...,0,1,1,0,1,0,0,1,0,9.410864
76,97.0,89.252210,97.0,85.0,100.0,1,0,0,0,0,...,0,0,1,0,0,0,1,1,0,7.747790
48,59.0,60.935376,31.0,32.0,92.0,1,0,0,1,0,...,0,1,0,1,1,0,0,1,0,1.935376
107,38.0,46.903589,60.0,60.0,60.0,1,0,0,1,0,...,0,1,1,0,0,0,1,1,0,8.903589
53,38.0,35.313447,31.5,35.0,28.0,1,0,0,0,1,...,1,0,1,0,1,0,0,1,0,2.686553
38,53.0,67.272660,44.0,29.0,84.0,1,0,0,0,1,...,0,1,0,1,1,0,0,0,1,14.272660
42,71.0,54.464512,38.0,59.0,48.5,1,0,0,0,1,...,0,1,0,1,0,0,1,1,0,16.535488
2,65.0,62.296405,69.5,59.0,80.0,1,0,0,0,1,...,1,0,1,0,0,0,1,1,0,2.703595
39,91.0,87.505567,82.0,68.0,96.0,1,0,0,0,0,...,0,1,0,1,1,0,0,1,0,3.494433
45,88.0,80.653893,84.0,47.0,100.0,1,0,0,0,0,...,0,1,0,1,1,0,0,1,0,7.346107
96,41.0,54.491537,41.0,32.0,76.0,1,0,0,1,0,...,0,1,0,1,1,0,0,0,1,13.491537
91,35.0,35.305681,41.0,35.0,40.0,1,0,0,1,0,...,0,1,1,0,1,0,0,1,0,0.305681
82,88.0,84.423975,78.0,62.0,96.0,1,0,0,0,0,...,0,1,0,1,1,0,0,0,1,3.576025
1,68.0,47.482124,53.0,29.0,92.0,1,0,0,1,0,...,0,1,1,0,0,0,1,1,0,20.517876
10,82.0,74.307858,66.0,53.0,84.0,1,0,0,0,0,...,0,1,0,1,1,0,0,0,1,7.692142
37,94.0,96.124478,94.0,79.0,100.0,1,0,0,0,1,...,0,0,0,1,0,0,1,1,0,2.124478
47,65.0,73.486009,63.0,38.0,96.0,1,0,0,0,1,...,0,1,1,0,1,0,0,1,0,8.486009
66,76.0,73.370170,75.0,59.0,84.0,1,0,0,0,1,...,0,1,0,1,0,0,1,1,0,2.629830
41,79.0,91.996469,87.0,74.0,100.0,1,0,0,0,0,...,0,1,0,1,1,0,0,0,1,12.996469
35,94.0,90.862498,94.0,82.0,88.0,1,0,0,0,0,...,0,1,0,1,1,0,0,1,0,3.137502
19,68.0,74.647483,66.0,50.0,76.0,1,0,0,0,1,...,0,1,0,1,1,0,0,1,0,6.647483
14,26.0,22.535905,25.0,18.0,32.0,0,1,0,0,1,...,1,0,0,1,1,0,0,0,1,3.464095

In [146]:
#convert back one hot encoding
#I did this manually in excel 
#export to excel
df3.to_csv(r'/Users/sukanyasravasti/LR_Math_Grade4.csv', index = False)